{%extends 'all-health/base.html'%}

 {% block content %}
 <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
<div class="container">
    <div class="title">
        <h1 class='text-center' style='color:lightgoldenrodyellow'>Cereals</h1>
        <h1 class='text-center' style='color:lightgoldenrodyellow' >Diet</h1>
        <h1 class='text-center ' style='padding-left:100px; color:lightgoldenrodyellow' >Instructions</h1> <br>
    </div><br>
    <nar><center><h4>
            <a href="{%url 'vegetable'%}">Vegetables\</a>
            <a href="{%url 'fruit'%}">   Fruits\</a>
            <a href="{%url 'protein'%}">  Protein\</a>
            <a href="{%url 'cereal'%}">  Cereal\</a>
            <a href="{%url 'diary'%}">  Diary\</a>
            <a href="https://www.livestrong.com/article/279487-milk-cereal-diet/" >  Visit Site</a></h4></center>
        </nar><br>
    <div class="click">
      <div class="row" >
      
        <br><br><center>
        <img style="border-radius: 50%;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxfPY-nGDm3cSCEFywge1vETYUgOb199G0cZpapbpBR_ti-9Asog" width="300" height="300">
        <img style="border-radius: 50%;"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWwJWuszS3GUWh9T_BZdvRJwBQ_XrfQFC0EDO3U7v3iQy_-PN2Tg" width="300" height="300">
        <img style="border-radius: 50%;"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmbT_SHuU3YTdBGKejPWzlyonD_81LXvfqZB1nnF_sefWTWksJ" width="300" height="300">
    </center><br>
        <center><h4  style="color:lightgoldenrodyellow; ">Eat a bowl of Special K cereal for breakfast and again at lunch or supper.<br> 
            </h4></center>
    </div>
    
        

      
  </div>
</div>
 
<br>

{% endblock %}