{%extends 'all-health/base.html'%}

 {% block content %}
 <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
<div style="font-size:25px; font-family: goldenrod serif;" class="container">
    <div style="font-size:25px; font-family: goldenrod serif;" class="title">
        <h1 class='text-center' style='color:lightgoldenrodyellow'>Diary</h1>
        <h1 class='text-center' style='color:lightgoldenrodyellow' >Diet</h1>
        <h1 class='text-center ' style='padding-left:100px; color:lightgoldenrodyellow' >Instructions</h1> <br>
    </div><br>
    <nar><center><h4>
            <a href="{%url 'vegetable'%}">Vegetables\</a>
            <a href="{%url 'fruit'%}">   Fruits\</a>
            <a href="{%url 'protein'%}">  Protein\</a>
            <a href="{%url 'cereal'%}">  Cereal\</a>
            <a href="{%url 'diary'%}">  Diary\</a>
            <a href="https://www.medicinenet.com/script/main/art.asp?articlekey=213072" >  Visit Site</a></h4></center>
        </nar><br>
    <div class="click">
      <div class="row" >
      
        <br><br><center>
        <img style="border-radius: 50%;"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSH3f3Ib48qwsDqmYA6f2LgcFWSFn3g3CJgKn3tR1nYTzV-ptIk2w" width="300" height="300">
        <img style="border-radius: 50%;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRoMc7HtZhLEQP9Golnc2cz4KcDE7syK-uR0CiwzUq0bVDDx56fSw" width="300" height="300">
        <img style="border-radius: 50%;"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKH3RFaef0YSi99NbVL_v8UuZjjE86hHfVLZ9cOK1iefkl8e4-" width="300" height="300">
    </center><br>
        <center><h4  style="color:lightgoldenrodyellow; ">When keeping a food diary, some basic rules to remember:<br>
                Write everything down. Keep your diary with you all day.<br>
                Be specific. Record your food exactly how you eat it.<br>
                Estimate amounts. If you have a piece of cake, estimate the size of it.</h4></center>
    </div>
      
        

      
  </div>
</div>
 
<br>

{% endblock %}