{%extends 'all-health/base.html'%}

 {% block content %}

<div class="container">
    <div class="title">
        <h1 class='text-center' style='color:lightgoldenrodyellow'>Fruits</h1>
        <h1 class='text-center' style='color:lightgoldenrodyellow' >Diet</h1>
        <h1 class='text-center ' style='padding-left:100px; color:lightgoldenrodyellow' >Instructions</h1> <br>
    </div><br>
    <nar><center><h4>
            <a href="vegetable.html">Vegetables\</a>
            <a href="fruit.html">   Fruits\</a>
            <a href="protein.html">  Protein\</a>
            <a href="cereal.html">  cereal\</a>
            <a href="diary.html">  Diary\</a>
            <a href="https://www.webmd.com/diet/a-z/fruit-flush-diet" >  Visit Site</a></h4></center>
        </nar><br>
    <div class="click">
      <div class="row" >
      
        <br><br><center>
        <img style="border-radius: 50%;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxCdSUeLgI5erFpL5qpFFAuyVGbCoI7VeYY42r3md9mStJFL7O" width="300" height="300">
        <img style="border-radius: 50%;"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxfPY-nGDm3cSCEFywge1vETYUgOb199G0cZpapbpBR_ti-9Asog" width="300" height="300">
        <img style="border-radius: 50%;"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOjN3vC5lmCRtaZik_PgwkXVL02BlUhDveEWAD9g1Csi9vnBbHtw" width="300" height="300">
    </center>
        <center><h4  style="color:lightgoldenrodyellow; ">
            Eat any type of fresh fruits (no frozen, dried, or canned fruits), preferably organic.<br> 
            Choose dark-green leafy vegetables, and cooked dry beans and peas often.</h4></center>
    </div>
  
        

      
  </div>
</div>
 
<br>

{% endblock %}