{%extends 'all-health/base.html'%}
<!-- <h1>Everyday Health Diet</h1> -->
{% block content %} 
{{ block.super}}




<div class="images">
    <br><br>
    <div class="nav">
    <nar><center><h4>
     <a href="{%url 'vegetable'%}">Vegetables\</a>
     <a href="{%url 'fruit'%}">   Fruits\</a>
     <a href="{%url 'protein'%}">  Protein\</a>
     <a href="{%url 'cereal'%}">  Cereal\</a>
     <a href="{%url 'diary'%}">  Diary\</a>
     <a href="http://www.eatingwell.com/" >  Visit Site</a></h4></center>
    </nar></div>
    
<div class="container">

    {% for image in diets %}

    <div class="row text">
    
    <div class="style">
      <center>
        <h2 class="text-center"> {{ image.name }}</h2><br>
        <a  href="image/{{image.id}}" href="image.html"><img class='text-center 'src="{{ image.image_name.url }}" class="img-responsive img" alt="Image" ><br></a><br>
      </center>

    </div>
   
    {% empty %}
    <div class="row">
        <h2 class="text-center">There is no images</h2>
    </div>
    {% endfor %}

    <!-- </div> -->
    </div>
    
</div>
</div>
<br>
<!-- <footer>
    Posted by: EspeIG
    <a href="http://www.eatingwell.com/">Visite Site</a>
    <br><br><br>
</footer>
<br><br><br> -->
{% endblock %}
<br><br><br> 