{%extends 'all-health/base.html'%}
<!-- <h1>Everyday Health Diet</h1> -->
{% block content %} 
{{ block.super}}

<div class="container">

    {% for image in diets %}

    <div class="row text">
    <div class="style">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 center"><br>
        <h2 class="text-center"> {{ image.name }}</h2><br>
        <h3 class="text-center"> {{ image.description }} </h3><br>
        <a  href="image/{{image.id}}" href="image.html"><img src="{{ image.image_name.url }}" class="img-responsive img" alt="Image" width="400" height="400"><br></a><br>
        

    </div>

    {% empty %}
    <div class="row">
        <h2 class="text-center">There is no images</h2>
    </div>
    {% endfor %}

    </div>
    </div>
<br><br><br>
<footer>
        <p>Posted by: EspeIG</p>
        <p>Visite Site<a href="http://www.eatingwell.com/"></a>.</p>
</footer>
</div>

{% endblock %}