{%extends 'all-health/base.html'%}

 {% block content %}

<div class="container">
    <div class="title">
        <h1 class='text-center' style='color:lightgoldenrodyellow'>Vegetables</h1>
        <h1 class='text-center' style='color:lightgoldenrodyellow' >Diet</h1>
        <h1 class='text-center ' style='padding-left:100px; color:lightgoldenrodyellow' >Instructions</h1> <br>
    </div><br>
    <nar><center><h4>
            <a href="vegetable.html">Vegetables\</a>
            <a href="news.asp">   Fruits\</a>
            <a href="contact.asp">  Protein\</a>
            <a href="about.asp">  Diary\</a>
            <a href="http://www.eatingwell.com/" >  Visit Site</a></h4></center>
        </nar><br>
    <div class="click">
      <div class="row" >
      
        <br><br><center>
        <img style="border-radius: 50%;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxfPY-nGDm3cSCEFywge1vETYUgOb199G0cZpapbpBR_ti-9Asog" width="300" height="300">
        <img style="border-radius: 50%;"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnq03dMyLO1l_4H0H1eaW2olQl0jA4PAzHi3idb49oL3dkTxYopw" width="300" height="300">
        <img style="border-radius: 50%;"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR79K4JaI4Gz8AGvob8OQD4YGJ3PVqAPxALOK0VP1yq1eohcLy3ag" width="300" height="300">
    </center>
        <center><h4  style="color:lightgoldenrodyellow; ">Eat at least 3 servings of vegetables each day<br> Choose dark-green leafy vegetables, and cooked dry beans and peas often.</h4></center>
    </div>
      <!-- https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5RTieROPESyxYVBu58mqx-_leyYzWKhWTe_M2yUc7bO5icgHv -->
        

      
  </div>
</div>
 
<br>

{% endblock %}