{%extends 'all-health/base.html'%}

 {% block content %}
<div class="descript">

 <div class="container">
    
   <div class="row" class="click">
      <h2 class="text-center"> {{ image.name }} </h2><br>
      <center><img src="{{ image.image_name.url}}" class="img-responsive img border-radius:15px;" alt="Image" width="500" height="500"></center>
      <h3 class="text-center"> {{ image.description }} </h3><br>
     

   </div>
  </div>
 
</div>
<br>
<nar><center><h4>
    <a href="{%url 'vegetable'%}">Vegetables\</a>
    <a href="news.asp">   Fruits\</a>
    <a href="contact.asp">  Protein\</a>
    <a href="about.asp">  Diary\</a>
    <a href="http://www.eatingwell.com/" >  Visit Site</a></h4></center>
   </nar></div>
{% endblock %}